@import "tailwindcss";

.container-global {
  @apply max-w-screen-2xl mx-auto px-6 md:px-12;

}


.wave {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 45%;
  animation: wave 4s linear infinite;
}

.wave.delay-200 {
  animation-delay: 2s;
  opacity: 0.6;
}

@keyframes wave {
  0% {
    transform: translate(-25%, 0) rotate(0deg);
  }
  100% {
    transform: translate(-25%, -100%) rotate(360deg);
  }
}

button:hover .wave {
  top: 0%;
}


.modern-link {
  position: relative;
  padding-bottom: 2px;
}

.modern-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #00d2ef;
  transition: all .35s cubic-bezier(.25, .46, .45, .94);
  border-radius: 50px;
}

.modern-link:hover::after {
  width: 100%;
}



/* serviceCard section  */



@keyframes waterFlowSoft {
  0% { background-position: 0% 0%; }
  50% { background-position: 60% 80%; }
  100% { background-position: 0% 0%; }
}

.animate-waterFlow {
  animation: waterFlowSoft 18s ease-in-out infinite;
  background-size: 200%;
}


